{% extends "dashboard/layout.twig" %}

{% block content %}

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Zone</th>
                <th>URL</th>
                <th>Is active</th>
                <th>Actions</th>
            </tr>
        </thead>
        
        <tbody>
            {% for post in postList %}
                <tr data-post-id="{{ post.id }}">
                    <td width="10%">
                        {% if post.image.name %}
                            <img class="img-responsive img-thumbnail" src="{{ base_url() }}/uploads/{{ post.image.name }}" alt="">
                        {% endif %}
                    </td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.zone }}</td>
                    <td>{{ post.slug }}</td>
                    <td>
                        {% if post.is_active == 1 %}
                            <button class="btn btn-success change-status">Desactivate <i class="fa fa-toggle-off"></i></button>
                        {% else %}
                            <button class="btn btn-warning change-status">Activate <i class="fa fa-toggle-on"></i></button>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path_for('post', {'id': post.id}) }}" class="btn btn-default">Edit</a>
                        <button class="btn btn-danger btn-remove">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="ui basic center aligned segment pull-right">
        <div class="ui yellow pagination menu">
            <a class="item" {% if postList.currentPage != 1 %} href="{{ path_for('home') }}?page={{ postList.currentPage - 1 }}" {% endif %}><span>&laquo;</span></a>
            {% if postList.lastPage > 4 %}
                {% for value in 1..4 %}
                    <a class="{% if postList.currentPage == value %} active {% endif %} item"	 href="{{ path_for('home') }}?page={{ value }}">{{ value }}</a>
                {% endfor %}
                {% for value in (postList.currentPage+1)..(postList.currentPage + 1) if (postList.currentPage < postList.lastPage) and (postList.currentPage > 3) %}
                    {% if postList.currentPage > 4 %}<a class="{% if postList.currentPage == (value - 1) %} active {% endif %} item" href="{{ path_for('home') }}?page={{ value - 1 }}">{{ value - 1 }}</a>{% endif %}
                    <a class="{% if postList.currentPage == value %} active {% endif %} item"	 href="{{ path_for('home') }}?page={{ value }}">{{ value }}</a>
                {% endfor %}
                <div class="disabled item">...</div>
            {% else %}
                {% for value in 1..(postList.lastPage-1) %}
                    <a class="{% if postList.currentPage == value %} active {% endif %} item"	 href="{{ path_for('home') }}?page={{ value }}">{{ value }}</a>
                {% endfor %}
            {% endif %}
            <a class="{% if postList.currentPage == postList.lastPage %} active {% endif %} item"	 href="{{ path_for('home') }}?page={{ postList.lastPage }}">{{ postList.lastPage }}</a></li>
            <a class="item" {% if postList.currentPage != postList.lastPage %} href="{{ path_for('home') }}?page={{ postList.currentPage + 1 }}" {% endif %} rel="next">&raquo;</a>
        </div>
    </div>

{% endblock %}

{% block customJS %}
    <script src="{{ base_url() }}/js/dashboard/post_list.js"></script>
{% endblock %}
