{% extends "front/layout.twig" %}

{% block content %}

    <div class="block block-secondary">

        <div class="container">

            <div class="row app-align-center">

                <div class="col-lg-8 col-lg-offset-2">

                    <div class="messages">
                        {% include('front/sections/flash_message.twig') %}

                        {% for error in flash.errors.captcha %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>


                    <form id="contact-form" method="post" action="{{ path_for('offer') }}" role="form">

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group {% if flash.errors.company_name %} has-error {% endif %}">
                                        <label for="company_name"><strong>Numele Companiei *</strong></label>
                                        <input id="company_name" type="text" name="company_name" value="{{ old.company_name }}" class="form-control" required="required">
                                        {% for error in flash.errors.company_name %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {% if flash.errors.person_name %} has-error {% endif %}">
                                        <label for="person_name"><strong>Persoana de Contact *</strong></label>
                                        <input id="person_name" type="text" name="person_name" value="{{ old.person_name }}" class="form-control" required="required">
                                        {% for error in flash.errors.person_name %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group {% if flash.errors.service %} has-error {% endif %}">
                                        <label for="service"><strong>Serviciul Solicitat *</strong></label>
                                        <input id="service" type="text" name="service" value="{{ old.service }}" class="form-control" required="required">
                                        {% for error in flash.errors.service %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {% if flash.errors.address %} has-error {% endif %}">
                                        <label for="address"><strong>Adresa Sediu/ Punct de Lucru *</strong></label>
                                        <input id="address" type="text" name="address" value="{{ old.address }}" class="form-control">
                                        {% for error in flash.errors.address %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {% if flash.errors.nr_angajat %} has-error {% endif %}">
                                        <label for="nr_angajat"><strong>Numar Angajati *</strong></label>
                                        <input id="nr_angajat" type="number" name="nr_angajat" value="{{ old.nr_angajat }}" class="form-control">
                                        {% for error in flash.errors.nr_angajat %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {% if flash.errors.nr_fac %} has-error {% endif %}">
                                        <label for="nr_fac"><strong>Numar Facturi Emise Lunar *</strong></label>
                                        <input id="nr_fac" type="number" name="nr_fac" value="{{ old.nr_fac }}" class="form-control">
                                        {% for error in flash.errors.nr_fac %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {% if flash.errors.email %} has-error {% endif %}">
                                        <label for="email"><strong>Email *</strong></label>
                                        <input id="email" type="email" name="email" value="{{ old.email }}" class="form-control">
                                        {% for error in flash.errors.email %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {% if flash.errors.phone %} has-error {% endif %}">
                                        <label for="phone"><strong>Numar de Contact *</strong></label>
                                        <input id="phone" type="tel" name="phone" value="{{ old.phone }}" class="form-control">
                                        {% for error in flash.errors.phone %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group {% if flash.errors.message %} has-error {% endif %}">
                                        <label for="form_message"><strong>Completati Solicitarea in campul de mai jos *</strong></label>
                                        <textarea id="form_message" name="message" class="form-control" rows="4" required="required">{{ old.message }}</textarea>
                                        {% for error in flash.errors.message %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!-- Replace data-sitekey with your own one, generated at https://www.google.com/recaptcha/admin -->
                                        <div class="g-recaptcha" data-sitekey="6LccdzQUAAAAALgzVBOaEMRqazHY1e_T-fqd861j"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <input type="checkbox" id="subscribeNews" name="subscribe" value="1" {% if old.subscribe %} checked="true"{% endif %}>
                                    <label for="subscribeNews"><strong>Inscrie-te la Newsletter!</strong></label>
                                </div>

                                <div class="col-md-12">
                                    <a href="{{ path_for('index') }}" class="btn btn-md btn-pill btn-default"><span class="icon icon-reply"> Back</span></a>
                                    <input type="submit" class="btn btn-sm btn-pill btn-primary" value="Send message">
                                </div>

                            </div>

                        </div>

                    </form>

                </div><!-- /.8 -->

            </div> <!-- /.row-->

        </div> <!-- /.container-->
    </div>

{% endblock %}
