{% extends "front/layout.twig" %}

{% block content %}

    <div class="block block-fill-height text-center">
        <div class="block-xs-middle">
            <div class="container">


                    {% for post in postList %}

                        <div class="card" style="width: 20rem;">
                            {% if post.image.name %}
                                <img class="card-img-top" src="{{ base_url() }}/uploads/{{ post.image.name }}" alt="Card image cap">
                            {% endif %}
                            <div class="card-block">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <p class="card-text">{{ post.description }}</p>
                                <button type="button" class="btn btn-sm btn-pill btn-primary" data-toggle="modal" data-target="#noutatiLegislativeModal{{ post.id }}">
                                    Citeste mai mult
                                </button>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="noutatiLegislativeModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{ post.title }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% if post.image.name %}
                                            <img class="img-fluid" src="{{ base_url() }}/uploads/{{ post.image.name }}">
                                        {% endif %}
                                        <p>{{ post.content|raw }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    {% endfor %}




                {% if postList.currentPage %}

                <div class="ui basic center aligned segment float-right">
                    <div class="ui yellow pagination menu">
                        <a class="item" {% if postList.currentPage != 1 %} href="{{ path_for('legislative') }}?page={{ postList.currentPage - 1 }}" {% endif %}><span>&laquo;</span></a>
                        {% if postList.lastPage > 4 %}
                            {% for value in 1..4 %}
                                <a class="{% if postList.currentPage == value %} active {% endif %} item"	 href="{{ path_for('legislative') }}?page={{ value }}">{{ value }}</a>
                            {% endfor %}
                            {% for value in (postList.currentPage+1)..(postList.currentPage + 1) if (postList.currentPage < postList.lastPage) and (postList.currentPage > 3) %}
                                {% if postList.currentPage > 4 %}<a class="{% if postList.currentPage == (value - 1) %} active {% endif %} item" href="{{ path_for('legislative') }}?page={{ value - 1 }}">{{ value - 1 }}</a>{% endif %}
                                <a class="{% if postList.currentPage == value %} active {% endif %} item"	 href="{{ path_for('legislative') }}?page={{ value }}">{{ value }}</a>
                            {% endfor %}
                            <div class="disabled item">...</div>
                        {% else %}
                            {% for value in 1..(postList.lastPage-1) %}
                                <a class="{% if postList.currentPage == value %} active {% endif %} item"	 href="{{ path_for('legislative') }}?page={{ value }}">{{ value }}</a>
                            {% endfor %}
                        {% endif %}
                        <a class="{% if postList.currentPage == postList.lastPage %} active {% endif %} item"	 href="{{ path_for('legislative') }}?page={{ postList.lastPage }}">{{ postList.lastPage }}</a></li>
                        <a class="item" {% if postList.currentPage != postList.lastPage %} href="{{ path_for('legislative') }}?page={{ postList.currentPage + 1 }}" {% endif %} rel="next">&raquo;</a>
                    </div>
                </div>

                {% endif %}

            </div>
        </div>
    </div>



{% endblock %}