{% extends "front/layout.twig" %}

{% block content %}

    <div class="block block-secondary">
        <div class="container">
            <div class="row">

                {% for post in postList %}
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="{{ base_url() }}/uploads/{{ post.image.name }}" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">{{ post.title }}</h4>
                            <p class="card-text">{{ post.description }}</p>
                            <a href="{{ path_for('service_detail',{ 'slug': post.slug }) }}" class="btn btn-sm btn-pill btn-default"><span class="icon icon-info"></span> Afla mai multe</a>
                        </div>
                    </div>
                {% endfor %}

            </div> <!-- End Row Cards -->
        </div> <!-- End Container Cards -->
    </div> <!-- Block Secondary Cards -->

{% endblock %}
